@{
    Layout = "_Layout";
}

<h1 class="course-article">Целые числа</h1>
<article class="course-article">
    <p>
        Обычные целые числа в Python имеют тип int и записываются как строки, состоящие из десятичных цифр. Целые числа типа int (положительные и отрицательные) имеют неограниченную точность, могут принимать сколь угодно большие значения. Тип int являются неизменяемым объектом, выполняя операцию над целыми числами, вы получаете новый числовой объект.
    </p>
    <p>
        Целые числа поддерживают следующие операции:

        <ul>
            <li>арифметические операции</li>
            <li>побитовые операции</li>
            <li>операции сравнения</li>
        </ul>
    </p>
    <p>
        Тип int в языке Python представлен классом int(), он позволяет:
        <ul>
            <li>преобразовать строку в целое число типа int с учетом указанного основания системы счисления (десятичные по основанию 10, шестнадцатеричные по основанию 16, восьмеричные по основанию 8 и двоичные по основанию 2).</li>
            <li>преобразовать вещественные числа типа float в тип int (отбрасывает дробную часть).</li>
            <li>преобразовать восьмеричные, шестнадцатеричные и двоичные литералы целых чисел в тип int</li>
        </ul>
    </p>
    <p>
        Начиная с Python 3.6, чтобы облегчить визуальную оценку величины числа, между цифрами и после любого спецификатора системы счисления разрешается вставлять одиночные символы подчеркивания.
        Целые числа еще могут записываться как, шестнадцатеричные (по основанию 16), восьмеричные (по основанию 8) и двоичные (по основанию 2).
        Все эти литералы создают объекты целых чисел, они являются всего лишь альтернативными формами записи значений. Для преобразования целого числа в строку с представлением в любой из трех систем счисления можно использовать встроенные функции hex(), oct() и bin()
    </p>
    <p>
        Арифметические операции:

        <ul>
            <li>Сумма чисел: x + y</li>
            <li>Разность чисел: x - y</li>
            <li>Произведение чисел: x * y</li>
            <li>Частное чисел: x / y</li>
            <li>Целочисленное деление: x // y</li>
            <li>Взятие остатка: x % y</li>
        </ul>
    </p>
</article>