<div class="header">
    <div class="header-left">
        <h1>Курс по программированию</h1>
    </div>
    <div class="header-right">
        <a href="https://www.hse.ru/">HSE</a>
        <a href="https://wiki.miem.hse.ru/">WIKI</a>
    </div>
</div>