@{
    Layout = "_Layout";
}

<h1>MIPS</h1>
<article>
    MIPS – архитектура набора команд (ISA) компьютера с сокращённым набором команд (Reduced Instruction Set Computing - RISC), разработанная MIPS Computer Systems.

    Архитектура MIPS32 основана на регулярном кодированном наборе инструкций фиксированной длины и использует модель данных загрузки / сохранения. Архитектура оптимизирована для поддержки выполнения языков высокого уровня. Арифметические и логические операции используют формат с тремя операндами, что позволяет компиляторам оптимизировать формулировку сложных выражений. Наличие 32 регистров общего назначения позволяет компиляторам дополнительно оптимизировать генерацию кода для повышения производительности, сохраняя часто используемые данные в регистрах.

    Набор регистров отражает конфигурацию кэшей, MMU, TLB и других привилегированных функций, реализованных в каждом ядре. За счет стандартизации привилегированного режима и управления памятью и предоставления информации через регистры конфигурации, архитектура MIPS32 позволяет однократно реализовывать операционные системы в режиме реальном времени, другие инструменты разработки и код приложения и повторно использовать его с различными элементами процессора MIPS32 и MIPS64.

    Гибкость высокопроизводительных кешей и схем управления памятью являются сильными сторонами архитектуры MIPS. Архитектура MIPS32 расширяет эти преимущества за счет четко определенных параметров управления кешем. Размер кэшей инструкций и данных может составлять от 256 байт до 4 МБ. Кэш данных может использовать политику обратной или сквозной записи. Также можно указать параметр без кеширования. Механизм управления памятью может использовать политику TLB или преобразования адреса блока (BAT). Архитектура MIPS32 с TLB соответствует требованиям к управлению памятью Windows CE, Linux и Android.

    Архитектуры наборов команд MIPS32 и MIPS64 определяют совместимое семейство инструкций, которые обрабатывают 32 -битные и 64-битные данные (соответственно) в рамках общей архитектуры MIPS. В ISA включены все инструкции, как привилегированные, так и непривилегированные, с помощью которых программист взаимодействует с процессором. ISA гарантирует совместимость объектного кода для

    непривилегированных программ, выполняемых на любом процессоре MIPS32 или MIPS64; все инструкции в MIPS64 ISA обратно совместимы с этими инструкциями в MIPS32 ISA. Во многих случаях привилегированные программы также совместимы с объектным кодом-используя условную компиляцию или макросы языка ассемблера, часто можно написать привилегированные программы, которые работают как в реализациях MIPS32, так и в реализациях MIPS64.
</article>