body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #0C002E;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 25px;
    border-radius: 10px;
}

.header a.logo {
    font-size: 28px;
    font-weight: bold;
}

a:hover {
    transform: scale(1.1);
    background-color: #22008162;
    color: white;
}

.header-right {
    float: right;
}

.contentPage {
    display: flex;
}

.menu {
    overflow-y: auto;
    width: 400px;
    min-width: 320px;
    height: 100%;
    color: #DDD;
}

.menuHeader {
    overflow: hidden;
    background-color: #1565C0;
    padding: 12px 20px;
}

.center-img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.buttonHome {
    float: left;
    position: relative;
    background-color: #2386E9;
    width: 30%;
    height: 54px;
    border-radius: 10px;
}

.buttonMIEM {
    float: right;
    position: relative;
    background-color: #2386E9;
    width: 60%;
    height: 54px;
    border-radius: 10px;
}

.mainMenu {
    background-color: #2F4256;
    padding: 10px 10px;
}

.menuBlock {
    width: 90%;
    height: 30%;
    padding-bottom: 10px;
    margin-bottom: 35px;
    border-bottom: 1px solid #848484;
}

.mainMenu hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.menuBlock a {
    text-decoration: none;
    color: white;
}

.menuBlock h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

.menuButton {
    background-color: #C4C4C4;
    border-radius: 10px;
    color: #FFF;
    margin: 10px;
}


/* Button */

.btn {
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    width: 110%;
    outline: none;
    position: relative;
}

.btn:active {
    top: 2px;
}


/* Button with icon on right */

.btn-right {
    padding: 0px;
}

.btn-right:after {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.btn-right:after {
    position: absolute;
    height: 75%;
    right: 0;
    top: 00px;
    line-height: 4;
    width: 60px;
}


/*Button with icon on left */

.btn-left {
    padding: 18px 40px 18px 100px;
}

.btn-left:before {
    background: #21518F;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0px;
    line-height: 4;
    width: 60px;
}

.btn-blu1 {
    background: #3498db;
}

.btn-blu1:hover {
    background: #2980b9;
}

.btn-blu2 {
    background: #3263A2;
}

.btn-blu2:hover {
    background: #21518F;
}

.icon-next:after {
    content: url("https://alifna.azurewebsites.net/client_docs/arrow.svg");
}

.bit-drone:before {
    content: url("/images/BitsComp.svg");
}

.book-drone:before {
    content: url("/images/Documentation.svg");
}

.quest-drone:before {
    content: url("/images/Question.svg");
}

.content {
    overflow: hidden;
    width: 100%;
}

.contentHeader {
    display: block;
    width: 100%;
    padding: 20px 10px 20px 20px;
    background-color: #D3D3D3;
}

.contentHeader h1 {
    color: #636161;
    font-size: 22px;
}

.contentText {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
}


/* Button end */

@media screen and (max-width: 850px) {
    .header a {
        text-align: center;
    }
    .header-right {
        display: none;
    }
    .menu {
        display: none;
    }
    .contentHeader h1 {
        text-align: center;
    }
}