<!DOCTYPE html>
<html lang="ru">

<head>
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>

<body>
    @await Html.PartialAsync("HeaderPartial")
    <div class="contentPage">
        @await Html.PartialAsync("MenuPartial")
        <div class="content">
            @RenderBody()
        </div>
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>

</html>